@import "tailwindcss";

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  color: white;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.qty-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 640px) {
  .qty-btn{
    height: 30px;
    width: 30px;
  }
}

.qty-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.qty-btn:active {
  background: rgba(0, 0, 0, 0.3);
}
.nav-btn{
  position: relative;
}

.nav-btn::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  background: rgb(255, 123, 0);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-btn:hover::after{
  opacity: 1;
  width: 100%;
}
